*{ box-sizing: border-box }
body{
  margin: 0;
}
a{
  text-decoration: none;
  color: inherit;
}
.container{
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.row{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}
.column{
  display: block;
  flex: 1 0 100%;
  max-width: 100%;
  padding: 5px;
}
@media(min-width: 568px){
  .row{
    flex-flow: row wrap
  }
  .column{
    flex: 1;
  }
}
h1, h2, h3, h4, h5, h6, p{
  margin: 10px 0;
}
.hero{
  height: 700px;
  background: url(https://unsplash.it/5451/3634?image=862);  
  background-size: cover;
  color: white;
}
.section{
  padding: 20px;
}
.section__heading{ text-align: left; }
.caption{
  overflow: visible;
  margin: 100px 0;
  text-align: center;
   /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: pre-line; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  font-family: Helvetica, Arial, Sans-Serif;
  animation: 
    typing 10.5s steps(40, end),
    blink-caret .75s step-end infinite;
}
.project{
  border: solid thin #ddd;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}
.project__image{

    position: relative;
    float: left;
    width:  200px;
    height: 200px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    border: 3px solid #000000;
    padding: 10px;
}
.project__description{
  padding: 10px 20px;
}
footer{
  padding: 20px;
  background: #222;
  color: white;
  text-align: center;
}
.fa{
  font-size: 20px;
  margin-right: 10px;
}

.typewriter li {
  overflow: visible;
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: pre-line; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 10.5s steps(40, end),
    blink-caret .75s step-end infinite;
    font-family: Helvetica, Arial, Sans-Serif;

}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
h3{
 
  font-family: "Courier";
  white-space: preline;
  overflow: visible;
animation: type 4s steps(60, end);
   animation: pulse 15s infinite; 
}

@keyframes type{ 
  from { width: 0; } 
} 

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes blink{
  to{opacity: .0;}
}

